{% extends "account/base.html" %}

{% load i18n %}

{% block content %}
    <h2>{% trans "Change Password" %}</h2>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="my-2">
            <button class="primary-action btn mt-2 me-2" type="submit" name="action">{% trans "Change Password" %}</button>
            <a class="secondary-action btn mt-2" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </div>

    </form>
{% endblock %}
