{% extends "account/base.html" %}

{% load i18n %}

{% block content %}
    <h2 class="mt-2">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="mt-2">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        <p class="mt-2">Please enter your new password details.</p>
        <form method="POST" action="{{ action_url }}" class="sign-in-form my-2">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn primary-action" type="submit" name="action" value="{% trans 'Change Password' %}"/>
        </form>
    {% endif %}
{% endblock %}
