<div class="search-form-container mt-2">
    <!-- search recipes form -->
    <form class="search-form my-1 flex flex-column" id="search-form" action="{% url 'profiles' %}" method="GET">
    
        <div class="flex flex-column flex-sm-row">
            <label class="flex-shrink-0" for="formInput#search">Search By User</label>
            <input class="ps-2 search-bar flex-grow-1 flex-shrink-0" id="formInput#search" type="text" name="search_query"
                value="{{search_query}}" placeholder="Username to search for" />
        </div>
        <input class="btn primary-action mt-2" type="submit" value="Search" />
    </form>
    <span class="search-chef"></span>
</div>