{% extends 'base.html' %}
{% load cloudinary %}
{% block body %}
<section class="account-container mt-2 p-2">
    <h2 class="mt-2">Profile Page for {{ profile.user }}</h2>
    <div class="row profile-detail-container py-2">
        <div class="col-sm-4 align-items-center justify-content-center">
            <span class="img-container">
                {% cloudinary profile.profile_image alt=profile.username %}
            </span>

            {% if request.user == profile.user %}
            <div class="mt-2 flex profile-button-container flex-row flex-sm-column align-items-sm-center">
                <a class="btn primary-action" href="{% url 'edit-profile' %}">Edit Profile</a>
                <a class="btn secondary-action" href="{% url 'delete-user' profile.id %}">Delete My Account</a>
            </div>
            {% endif %}
        </div>
        <div class="col-sm-8 py-2 py-sm-0">
            <p>request.user = {{ request.user }}</p>
            <p>request.user.profile.username = {{ request.user.profile.username }}</p>
            <p>request.user.user.id = {{ request.user.user.id }}</p>
            {% if request.user in profile_set.all %}
                <p>request.user is in the set</p>
            {% endif %}

            
            {% for profile in request.user.profile.all %}
            <p>{{profile.username}}</p>
            {% endfor %}
            

            <p>id = {{ profile.id }}</p>
            <p>user = {{ profile.user }}</p>
            <p>username = {{ profile.username }}</p>
            <p>headline = {{ profile.headline }}</p>
            <p>bio = {{ profile.bio|slice:"800"|linebreaksbr }}</p>
            <p>location = {{ profile.location }}</p>
            {% if profile.social_youtube %}
                <p>youtube = <a href="{{ profile.social_youtube }}" target="_blank">{{ profile.social_youtube }}</a></p>
            {% endif %}
            {% if profile.social_website %}
                <p>website = <a href="{{ profile.social_website }}" target="_blank">{{ profile.social_website }}</a></p>
            {% endif %}
        </div>
    </div>

</section>

<section class="account-container liked-recipes">
    <h2 class="mt-2">My Favourite Recipes</h2>
    <div class="my-2 flex recipe-results mt-2 p-2">
        {% for recipe in profile.get_favourited %}
        {% include 'recipes/snippets/recipe_card.html' %}
        {% endfor %}
    </div>

</section>
{% endblock %}