{% extends 'base.html' %}
{% load cloudinary %}
{% block body %}
<section class="profile-list">
    <h2 class="my-2">Profiles Page</h2>
    <div class="container flex recipe-results">
        {% for profile in profiles %}
            <a class="recipe-card" href="{% url 'user-profile' profile.user.id %}">
                <div class="card">
                    <div class="card-container m-1">
                        <img src="{{ profile.profile_image.url }}" class="card-img-top" alt="profile photo">
                        <div class="card-body">
                            <h5 class="card-title">{{ profile.username }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ profile.location }}</h6>
                            <p class="card-text">{{ profile.headline }}</p>
    
                            <button class="btn primary-action">Recipes</button>
    
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</section>
{% endblock %}