{% extends 'base.html' %}
{% load cloudinary %}
{% block body %}
<section class="account-container mt-2 p-2">
    <h2>Search for Users</h2>
    {% include 'profiles/snippets/profile_search.html' %}
</section>

<!-- Results of search for users -->
<section class="account-container mt-2 p-2">
    <h2 class="mt-2 mb-3">Results</h2>
    <div class="container flex recipe-results">
        {% if profiles %}
        {% for profile in profiles %}
            <a class="recipe-card" href="{% url 'user-profile' profile.user.id %}">
                <div class="card">
                    <div class="card-container m-1">
                        <img src="{{ profile.profile_image.url }}" class="card-img-top" alt="profile photo">
                        <div class="card-body profile-card-body flex">
                            <h5 class="card-title">{{ profile.username }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ profile.location }}</h6>
                            {% if profile.headline|length >= 100 %}
                            <p class="card-text flex-grow-1">{{ profile.headline|slice:"100" }}...</p>
                            {% else %}
                            <p class="card-text flex-grow-1">{{ profile.headline }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
        {% else %}
        <!-- no results found -->
        <div class="no-results flex flex-column flex-sm-row">
            <p>There were no profiles matching that request.. try something else!</p>
            <div class="no-results-watermark"></div>
        </div>
        {% endif %}
    </div>
    {% include 'snippets/pagination.html' with query_set=profiles custom_range=custom_range %}
</section>
{% endblock %}