{% extends 'base.html' %}
{% load cloudinary %}
{% block body %}
<!--Edit profile form page-->
<section class="account-container p-2">
    <h2>Please complete your profile</h2>
    <div class="form-container">
        <form class="edit-profile-form" action="{% url 'edit-profile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="px-2 mt-2 edit-profile-form-input-container">
                <label for="{{field.label|lower}}">{{field.label}}</label>
                {{field}}
                <!-- container div for character countdown to be inserted-->
                <div class="char-remaining" id="{{field.label|lower}}-char-remaining"></div>
            </div>
            {% endfor %}
            <button class="btn primary-action m-2 mt-4" type="submit" value="submit">Submit</button>
        </form>
    </div>
</section>
<section class="account-container mt-2 p-2">
    <h2>Account Options</h2>
    <a class="btn primary-action mt-2 me-2" href="{% url 'account_change_password' %}">Change Password</a>
    <a class="btn primary-action mt-2 me-2" href="{% url 'account_email' %}">Change Email</a>
</section>
{% endblock %}