{% extends 'base.html' %}
{% load cloudinary %}
{% block body %}
<section class="account-container p-2 mt-2 mx-2">
    <div id="create-recipe">
        <h2>Please create your recipe</h2>
        <div class="form-container p-2 mt-2">
            <h4>Step 1</h4>
            <form class="create-recipe-form" action="." method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <div class="flex mt-2 form-pair">
                    {{field.label_tag}}
                    {{field}}
                    {% if field.label|lower == 'youtube link' %}
                    <div class="char-remaining" id="youtube-link-char-remaining"></div>
                    {% else %}
                    <div class="char-remaining" id="{{field.label|lower}}-char-remaining"></div>
                    {% endif %}
                </div>
                {% endfor %}
            
                <div class="htmx-indicator">Loading....</div>
                <button class="btn primary-action mt-2 htmx-inverted-indicator" type="submit" value="submit">Submit</button>
            </form>
            <div class="inactive mt-2">
                <h4>Step 2</h4>
                <h5 class="mt-1">Ingredients</h5>
                
                <h5 class="mt-1">Steps</h5>
            </div>
            
        </div>
    </div>
</section>
{% endblock %}