{% extends 'base.html' %}
{% load cloudinary %}
{% block body %}

<section class="account-container mt-2 p-2">
    <h2>Search for <span>Recipes</span></h2>
    {% include 'recipes/snippets/recipe_search.html' %}
</section>
<!-- Search Result: Recipe List -->
<section class="account-container mt-2 p-2 recipe-results-container">
    <div class="note-chef-watermark"></div>
    <div class="flex recipe-results">
        {% for recipe in recipes %}
            {% include 'recipes/snippets/recipe_card.html' %}
        {% endfor %}
    </div>
</section>
{% endblock body %}