{% extends 'base.html' %}
{% load cloudinary %}
{% block body %}
<h2>Recipe Form Page</h2>
<section class="account-container">
    <h2>Please complete your recipe</h2>
    <div class="form-container p-2">
        {% include 'recipes/snippets/recipe_form.html' %}

        <h5>Ingredients</h5>
        {% for ingredient in recipe.get_ingredients %}
        {% include 'recipes/snippets/ingredient_detail.html' with ingredient=ingredient %}
        {% endfor %}
        {% if new_ingredient_url %}
        <div id="ingredient-create"></div>
        <button hx-get="{{new_ingredient_url}}" hx-trigger="click" hx-target="#ingredient-create" hx-swap="beforeend" class="btn primary-action m-2">Add Ingredient</button>
        {% endif %}
        
        <h5>Steps</h5>
        {% for step in recipe.get_steps %}
        {% include 'recipes/snippets/step_detail.html' with step=step %}
        {% endfor %}
        {% if new_step_url %}
        <div id="step-create"></div>
        <button hx-get="{{new_step_url}}" hx-trigger="click" hx-target="#step-create" hx-swap="beforeend" class="btn primary-action m-2">Add Step</button>
        {% endif %}
    </div>
    <a href="{% url 'view-recipe' recipe.id %}" class="btn primary-action m-2">Go Back</a>
</section>
{% endblock %}