
/* 
Bootstrap breakpoints
Breakpoint	        Class infix Dimensions
X-Small	            None	    <576px
Small	            sm	        ≥576px
Medium	            md	        ≥768px
Large	            lg	        ≥992px
Extra large	        xl	        ≥1200px
Extra extra large	xxl	        ≥1400px 
*/

/* import the fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* general rules */

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* end of reset */

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    /* light */
    --primary-color-light: #064e3b;
    --accent-color-light: #d1fae5;
    --text-primary-light: #000000;
    --text-secondary-light: #ffffff;
    --bg-primary-light: #f1f4f1;
    --bg-secondary-light: #e3e8e3;
    --bg-tertiary-light: #c7d1c7;
    --bg-quaternary-light: #abbaab;
    --alert-primary-light: #7f1d1d;
    --alert-secondary-light: #fef2f2;
    --success-primary-light: #134e4a;
    --success-secondary-light: #ccfbf1;
    --info-primary-light: #1e40af;
    --info-secondary-light: #dbeafe;
    --surface-shadow-light: #2e383505;
    --button-bg-primary-light: #064e3b;
    --button-bg-secondary-light: #90AEA4;
    --button-text-primary-light: #ffffff;
    --button-text-secondary-light: #000000;
    --like-button-text-light: #1d1d1d;
    --like-button-text-hover-light: #000000;
    --like-button-text-active-light: #ffffff;
    --like-button-bg-light: var(--bg-secondary-light);
    --like-button-bg-hover-light: var(--bg-primary-light);
    --like-button-bg-active-light: var(--alert-primary-light);
    --like-button-border-light: var(--bg-quaternary-light);
    --like-button-border-active-light: var(--alert-primary-light);
    --like-button-shadow-light: #00127750;
    --border-light: #000000;

    /* dark */
    --primary-color-dark: #064e3b;
    --accent-color-dark: #ecfdf5;
    --text-primary-dark: #ffffff;
    --text-secondary-dark: #000000;
    --bg-primary-dark: #383838;
    --bg-secondary-dark: #333333;
    --bg-tertiary-dark: #252525;
    --bg-quaternary-dark: #1e1e1e;
    --alert-primary-dark: #7f1d1d;
    --alert-secondary-dark: #fef2f2;
    --success-primary-dark: #134e4a;
    --success-secondary-dark: #ccfbf1;
    --info-primary-dark: #1e40af;
    --info-secondary-dark: #dbeafe;
    --surface-shadow-dark: rgba(4, 11, 9, 0.8);
    --button-bg-primary-dark: #064e3b;
    --button-bg-secondary-dark: #90AEA4;
    --button-text-primary-dark: #ffffff;
    --button-text-secondary-dark: #000000;
    --like-button-text-dark: #f6f8ff;
    --like-button-text-hover-dark: #ffffff;
    --like-button-text-active-dark: #ffffff;
    --like-button-bg-dark: var(--bg-secondary-dark);
    --like-button-bg-hover-dark: var(--bg-primary-dark);
    --like-button-bg-active-dark: var(--alert-primary-dark);
    --like-button-border-dark: var(--bg-quaternary-dark);
    --like-button-border-active-dark: var(--alert-primary-dark);
    --like-button-shadow-dark: #00127731;
    --border-dark: #ffffff;
}

:root {
    color-scheme: light;
    --primary-color: var(--primary-color-light);
    --accent-color: var(--accent-color-light);
    --text-primary: var(--text-primary-light);
    --text-secondary: var(--text-secondary-light);
    --bg-primary: var(--bg-primary-light);
    --bg-secondary: var(--bg-secondary-light);
    --bg-tertiary: var(--bg-tertiary-light);
    --bg-quaternary: var(--bg-quaternary-light);
    --bg-image: url(https://res.cloudinary.com/mattbcoding/image/upload/v1645611935/bg-light_xhdfaq.png);
    --alert-primary: var(--alert-primary-light);
    --alert-secondary: var(--alert-secondary-light);
    --success-primary: var(--success-primary-light);
    --success-secondary: var(--success-secondary-light);
    --info-primary: var(--info-primary-light);
    --info-secondary: var(--info-secondary-light);
    --surface-shadow: var(--surface-shadow-light);
    --shadow-strength: var(--shadow-strength-light);
    --button-bg-primary: var(--button-bg-primary-light);
    --button-bg-secondary: var(--button-bg-secondary-light);
    --button-text-primary: var(--button-text-primary-light);
    --button-text-secondary: var(--button-text-secondary-light);
    --like-button-text: var(--like-button-text-light);
    --like-button-text-hover: var(--like-button-text-hover-light);
    --like-button-text-active: var(--like-button-text-active-light);
    --like-button-bg: var(--like-button-bg-light);
    --like-button-bg-hover: var(--like-button-bg-hover-light);
    --like-button-bg-active: var(--like-button-bg-active-light);
    --like-button-border: var(--like-button-border-light);
    --like-button-border-active: var(--like-button-border-active-light);
    --like-button-shadow: var(--like-button-shadow-light);
    --border: var(--border-light);
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --primary-color: var(--primary-color-dark);
        --accent-color: var(--accent-color-dark);
        --text-primary: var(--text-primary-dark);
        --text-secondary: var(--text-secondary-dark);
        --bg-primary: var(--bg-primary-dark);
        --bg-secondary: var(--bg-secondary-dark);
        --bg-tertiary: var(--bg-tertiary-dark);
        --bg-quaternary: var(--bg-quaternary-dark);
        --bg-image: url(https://res.cloudinary.com/mattbcoding/image/upload/v1645611935/bg-dark_pzxv3k.png);
        --alert-primary: var(--alert-primary-dark);
        --alert-secondary: var(--alert-secondary-dark);
        --success-primary: var(--success-primary-dark);
        --success-secondary: var(--success-secondary-dark);
        --info-primary: var(--info-primary-dark);
        --info-secondary: var(--info-secondary-dark);
        --surface-shadow: var(--surface-shadow-dark);
        --shadow-strength: var(--shadow-strength-dark);
        --button-bg-primary: var(--button-bg-primary-dark);
        --button-bg-secondary: var(--button-bg-secondary-dark);
        --button-text-primary: var(--button-text-primary-dark);
        --button-text-secondary: var(--button-text-secondary-dark);
        --like-button-text: var(--like-button-text-dark);
        --like-button-text-hover: var(--like-button-text-hover-dark);
        --like-button-text-active: var(--like-button-text-active-dark);
        --like-button-bg: var(--like-button-bg-dark);
        --like-button-bg-hover: var(--like-button-bg-hover-dark);
        --like-button-bg-active: var(--like-button-bg-active-dark);
        --like-button-border: var(--like-button-border-dark);
        --like-button-border-active: var(--like-button-border-active-dark);
        --like-button-shadow: var(--like-button-shadow-dark);
        --border: var(--border-dark);
    }
}

[data-theme="light"] {
    color-scheme: light;
    --primary-color: var(--primary-color-light);
    --accent-color: var(--accent-color-light);
    --text-primary: var(--text-primary-light);
    --text-secondary: var(--text-secondary-light);
    --bg-primary: var(--bg-primary-light);
    --bg-secondary: var(--bg-secondary-light);
    --bg-tertiary: var(--bg-tertiary-light);
    --bg-quaternary: var(--bg-quaternary-light);
    --bg-image: url(https://res.cloudinary.com/mattbcoding/image/upload/v1645611935/bg-light_xhdfaq.png);
    --alert-primary: var(--alert-primary-light);
    --alert-secondary: var(--alert-secondary-light);
    --success-primary: var(--success-primary-light);
    --success-secondary: var(--success-secondary-light);
    --info-primary: var(--info-primary-light);
    --info-secondary: var(--info-secondary-light);
    --surface-shadow: var(--surface-shadow-light);
    --shadow-strength: var(--shadow-strength-light);
    --button-bg-primary: var(--button-bg-primary-light);
    --button-bg-secondary: var(--button-bg-secondary-light);
    --button-text-primary: var(--button-text-primary-light);
    --button-text-secondary: var(--button-text-secondary-light);
    --like-button-text: var(--like-button-text-light);
    --like-button-text-hover: var(--like-button-text-hover-light);
    --like-button-text-active: var(--like-button-text-active-light);
    --like-button-bg: var(--like-button-bg-light);
    --like-button-bg-hover: var(--like-button-bg-hover-light);
    --like-button-bg-active: var(--like-button-bg-active-light);
    --like-button-border: var(--like-button-border-light);
    --like-button-border-active: var(--like-button-border-active-light);
    --like-button-shadow: var(--like-button-shadow-light);
    --border: var(--border-light);    
}

[data-theme="dark"] {
    --primary-color: var(--primary-color-dark);
    --accent-color: var(--accent-color-dark);
    --text-primary: var(--text-primary-dark);
    --text-secondary: var(--text-secondary-dark);
    --bg-primary: var(--bg-primary-dark);
    --bg-secondary: var(--bg-secondary-dark);
    --bg-tertiary: var(--bg-tertiary-dark);
    --bg-quaternary: var(--bg-quaternary-dark);
    --bg-image: url(https://res.cloudinary.com/mattbcoding/image/upload/v1645611935/bg-dark_pzxv3k.png);
    --alert-primary: var(--alert-primary-dark);
    --alert-secondary: var(--alert-secondary-dark);
    --success-primary: var(--success-primary-dark);
    --success-secondary: var(--success-secondary-dark);
    --info-primary: var(--info-primary-dark);
    --info-secondary: var(--info-secondary-dark);
    --surface-shadow: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
    --button-bg-primary: var(--button-bg-primary-dark);
    --button-bg-secondary: var(--button-bg-secondary-dark);
    --button-text-primary: var(--button-text-primary-dark);
    --button-text-secondary: var(--button-text-secondary-dark);
    --like-button-text: var(--like-button-text-dark);
    --like-button-text-hover: var(--like-button-text-hover-dark);
    --like-button-text-active: var(--like-button-text-active-dark);
    --like-button-bg: var(--like-button-bg-dark);
    --like-button-bg-hover: var(--like-button-bg-hover-dark);
    --like-button-bg-active: var(--like-button-bg-active-dark);
    --like-button-border: var(--like-button-border-dark);
    --like-button-border-active: var(--like-button-border-active-dark);
    --like-button-shadow: var(--like-button-shadow-dark);
    --border: var(--border-dark);
}

body {
    color: var(--text-primary);
    min-height: 100vh;
    overflow-x: hidden;
    background: var(--bg-image);
    transition: 500ms linear;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Utility Style Rules */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.bold {
    font-weight: 700;
}

.text-muted {
    color: var(--text-primary)!important;
    opacity: 0.7;
}

.btn:disabled {

}

/* primary header */
#logo {
    height: 100px;
}

.logo-container > a {
    align-items: center;
}

.primary-header {
    align-items: center;
    background-color: var(--primary-color);
    justify-content: space-between;
    padding: 0 2rem;
}

.primary-header a {
    text-decoration: none;
    color: #ffffff;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.primary-navigation > li,
#account-menu > li {
    transition: box-shadow 250ms linear;
    /* box-sizing: border-box; */
}

.primary-navigation > li:hover,
#account-menu > li:hover {
    /* border-bottom: 0.2rem inset #ffffff; */
    box-shadow: 0 0.2rem #ffffff;
}

[data-theme="light"] #account-menu > li:hover {
    /* border-bottom: 0.2rem inset var(--primary-color); */
    box-shadow: 0 0.2rem var(--primary-color);
}
[data-theme="light"] #account-menu > .sign-out:hover,
#account-menu > .sign-out:hover {
    /* border-bottom: 0.2rem inset var(--alert-primary) */
    box-shadow: 0 0.2rem var(--alert-primary);
}

.primary-navigation a {
    text-decoration: none;
}

.mobile-nav-toggle {
    display: none;
}

.account-navigation {
    list-style: none;
    padding: 0;
    flex-direction: column;
}

.account-nav-toggle {
    display: block;
    position: relative;
    z-index: 3000;
    background: transparent;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
}

#user-icon {
    fill: #ffffff;
    width: 100%;
    height: 100%;
}

#account-menu[data-visible="false"] {
    display: none;
}

#account-menu {
    position: absolute;
    top: 2.5rem;
    left: -3rem;
    background-color: var(--bg-primary);
    padding: 1rem;
    z-index: 1000;
}

#account-menu > li {
    width: max-content;
}

#account-menu a {
    color: var(--text-primary);
}

.dropdown-divider {
    background-color: var(--accent-color);
    width: 100%;
}

@media (max-width: 800px) {
    .primary-navigation {
        position: fixed;
        z-index: 1000;
        background: var(--bg-quaternary);
        top: 0;
        right: 0;
        max-width: 180px;
        padding: min(20rem, 15vh) 2rem;
        flex-direction: column;
        gap: 3rem;
        height: 100vh;
        color: var(--text-primary);
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
    }
    
    .primary-navigation a {
        color: var(--text-primary);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: 1rem;
        top: 2rem;
        background: transparent;
        border: 0;
        background-image: url(https://res.cloudinary.com/mattbcoding/image/upload/v1645611935/icon-hamburger_v1i4ph.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio: 1;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(https://res.cloudinary.com/mattbcoding/image/upload/v1645611935/icon-close_wznjg2.svg);
        background-color: var(--alert-primary);
        position: fixed;
    }

    .mobile-nav-toggle:focus-visible {
        outline: 5px solid white;
        outline-offset: 5px;
    }

    #account-menu {
        position: absolute;
        top: -5rem;
        left: -10rem;
        background-color: var(--bg-primary);
        color: var(--text-primary);
        padding: 1rem;
    }

    #user-icon {
        fill: var(--text-primary);
        width: 100%;
        height: 100%;
    }
}

/* light/dark mode toggle */

#color-mode {
    flex-shrink: 0;
    -webkit-appearance: none;
    outline: none;
    position: relative;
    width: 3rem;
    height: 1.5rem;
    background-image: url(https://res.cloudinary.com/mattbcoding/image/upload/v1645611935/day_yobjgz.jpg);
    background-size: cover;
    border-radius: 0.75rem;
    transition: background-image .9s;
    cursor: pointer;
}

#color-mode:before {
    content: "";
    width: 1.35rem;
    height: 1.35rem;
    background-color: var(--bg-quaternary);
    border-radius: 50%;
    position: absolute;
    top: 6%;
    left: 5%;
    transition: all .9s;
    background-color: #ffc400;
}

#color-mode:checked {
    background-image: url(https://res.cloudinary.com/mattbcoding/image/upload/v1645611935/night_hqgt2v.jpg);
}

#color-mode:checked:before {
    transform: translate(100%);
    background-color: #c7d1c7;
}

.primary-action {
    background-color: var(--button-bg-primary);
    color: var(--button-text-primary);
    width: clamp(3rem, 100%, 180px);
}

.primary-action:hover {
    /* box-shadow: 0vmin 4vmin 0 var(--border); */
    border: 1px solid var(--border);
    color: var(--button-text-primary);
}

.secondary-action {
    background-color: var(--button-bg-secondary);
    border: 1px solid var(--button-bg-secondary);
    color: var(--button-text-secondary);
    width: clamp(3rem, 100%, 180px);
}

/* allauth template styling */
/* temp styling for all auth templates to make them readable */
.account-container {
    background-color: var(--bg-secondary);
}

.account-menu-list {
    list-style: none;
    padding: 0;
}

.sign-in-button:hover {
    color: var(--button-text-primary);
    border: 1px solid var(--button-text-primary);
    transition: all 0.6s ease;
}

.sign-in-form > p {
    margin-top: 0.5rem;
}

.sign-in-form > p > input {
    width: clamp(18rem, 100%, 50rem);
}

.sign-in-form > p > input:hover,
.sign-in-form > p > input:active {
    border: 1px solid var(--border);
}

.sign-in-form > p:nth-last-of-type(1) {
    margin-bottom: 0.5rem;
}

.sign-in-form > p:nth-last-of-type(1) > input[type="checkbox"] {
    width: auto;
    margin-left: 0.5rem;
}

.sign-in-form > .primary-action:hover {
    color: var(--button-text-primary);
    border: 1px solid var(--button-text-primary);
    transition: all 0.6s ease;
}

.sign-in-form > .secondary-action:hover {
    /* background-color: var(--alert-primary);
    color: var(--button-text-primary); */
    border: 1px solid var(--button-text-primary);
    transition: all 0.6s ease;
}

.signup label {
    margin-bottom: 0.5rem;
}

.errorlist {
    margin-top: 0.5rem;
    background-color: var(--alert-secondary);
    color: var(--alert-primary);
    border: 1px solid var(--alert-primary);
}

body.flex {
    flex-direction: column;
}

main {
    flex-grow: 2;
}

/* Home page styling */
.hero-container {
    background-color: var(--bg-secondary);
    position: relative;
}

.hero-text {
    width: 100%;
    height: 100%;
}

#hero-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

#hero-text-container > div {
    background-color: var(--primary-color);
    box-shadow: -2vmin -1vmin 0 #064e3bc4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 81% 19% 68% 32% / 37% 29% 71% 63%;
    width: min(100%, 550px);
    
}

#hero-text-container > div > div {
    background-color: var(--primary-color);
    box-shadow: 0vmin 4vmin 0 rgb(6 78 59 / 60%);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-text-container > div > div > div {
    background-color: var(--primary-color);
    box-shadow: 7vmin -2vmin 0 rgb(6 78 59 / 60%);
    border-radius: 81% 19% 68% 32% / 37% 29% 71% 63% ;
}


.hero-text h2,
.hero-text h4 {
    color: #ffffff;
}


.register-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.register-card-container {
    background-color: var(--bg-tertiary);
}

.register-card {
    background-color: var(--bg-quaternary);
    position: relative;
    border-radius: 2%;
}

.register-card li {
    list-style: none;
    text-align: start;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.active-li > i {
    color: var(--primary-color);
}

.inactive-li > i {
    color: var(--accent-color);
}

.happy-chef-watermark {
    position: absolute;
    top: 0;
    background: url(https://res.cloudinary.com/mattbcoding/image/upload/v1647445084/half-smiling-chef_v3fba2.png) 100% 50%/contain no-repeat;
    height: 100%;
    width: 100%;
    z-index: 5;
}

.sad-chef-watermark {
    position: absolute;
    top: 0;
    background: url(https://res.cloudinary.com/mattbcoding/image/upload/v1647779529/half-sad-chef_snmdjm.png) 100% 50%/contain no-repeat;
    height: 100%;
    width: 100%;
    z-index: 5;
}

.register-card-content {
    position: relative;
    z-index: 10;
}

.search-form-container {
    position: relative;
    display: flex;
    flex-direction: row;
}

.not-btn {
    cursor: default;
}
.primary-action.not-btn:hover {
    color: var(--button-text-primary);
}

/* footer styling */
footer {
    /* height: 200px; */
    background-color: var(--primary-color);
    color: var(--text-secondary);
}

.footer-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-channels {
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.5rem;
    max-width: 30rem;
    width: 100%;
}

.social-icons {
    font-size: 2rem;
    list-style: none;
}

.social-icons > a {
    text-decoration: none;
    color: var(--button-text-primary);
}

.social-icons i:hover {
    transform: scale(1.05);
}

.copyright {
    color: var(--button-text-primary);
}

/* profile card styling */
.profile-list {
    background-color: var(--bg-secondary);
    padding: 1rem;
    margin: 1rem;
}

.profile-card {
    width: max(250px, 25%);
    background-color: var(--bg-tertiary);
}

.profile-card > .card-img-top {
    max-height: 60%;
    object-fit: cover;
}

.profile-card .card-title,
.profile-card .card-subtitle {
    text-transform: capitalize;
}
/* Profile Detail page styling */

.profile-detail-container {
    background-color: var(--bg-tertiary);
    margin: 0;
}

.profile-button-container {
    flex-direction: column;
    flex-shrink: 0;
    gap: 0.5rem;
    align-items: flex-start;
    /* justify-content: flex-start; */
}

.profile-button-container > .primary-action:hover{
    color: var(--button-text-primary);
    border: 1px solid var(--button-text-primary);
    transition: all 0.6s ease;
}
.profile-button-container > .secondary-action:hover {
    background-color: var(--alert-primary);
    color: var(--button-text-primary);
    border: 1px solid var(--button-text-primary);
    transition: all 0.6s ease;
}

/* Edit Profile page styling */
.form-container {
    background-color: var(--bg-tertiary);
    color: var(--text-primary);
}

.edit-profile-form input,
.edit-profile-form textarea {
    width: 100%;
}

.char-remaining {
    font-size: 0.8rem;
    text-align: end;
    min-height: 20px;
}

/* Recipe detail page styling */
.recipe-detail {
    background-color: var(--bg-tertiary);
    width: 98%;
    margin: 0 auto;
}

.recipe-header {
    background-color: var(--bg-quaternary);
}

.profile-image {
    width: 100%;
    height: 20rem;
}

.profile-image > img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.recipe-button-container {
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    gap: 0.25rem;
}

.recipe-button-container > a.primary-action:hover {
    color: var(--button-text-primary);
    border: 1px solid var(--button-text-primary);
    transition: all 0.6s ease;
}

.recipe-button-container > a.secondary-action:hover {
    background-color: var(--alert-primary);
    color: var(--button-text-primary);
    border: 1px solid var(--button-text-primary);
    transition: all 0.6s ease;
}

/* Recipe Create/Edit styling */
.hidden {
    display: none;
}

.form-container {
    width: 100%;
}

.form-pair {
    flex-direction: column;
    gap: 0.5rem;
}

.form-pair > label {
    width: clamp(7rem, 100%, 20rem);
    
}

.form-pair input {
    width: clamp(18rem, 100%, 50rem);
}

.ingredient-form-container {
    background-color: var(--bg-quaternary);
}

/* Recipe search results */

.search-form {
    position: relative;
    z-index: 10;
    flex-grow: 1;
    gap: 0.5rem;
}

.search-form > div {
    gap: 0.5rem;
}

.search-chef {
    position: relative;
    flex-grow: 0;
    top: 0;
    z-index: 5;
    width: 100px;
    height: 100px;
    background: url(https://res.cloudinary.com/mattbcoding/image/upload/v1647779953/search-chef_ew18lg.png) 100% 50%/contain no-repeat;
}

.search-bar {
    border: 1px solid var(--button-bg-primary);
    width: clamp(5rem, 90%, 35rem);
    min-width: fit-content;
}

.recipe-results-container {
    position: relative;
}

.note-chef-watermark {
    position: absolute;
    top: 0;
    right: 0;
    background: url(https://res.cloudinary.com/mattbcoding/image/upload/v1647878131/note-taking-chef_ljpirw.png) 100% 50%/contain no-repeat;
    height: 100%;
    width: 100%;
    z-index: 5;
}

.recipe-results {
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.recipe-card {
    width: max(24%, 300px);
    /* background-color: var(--bg-tertiary); */
    text-decoration: none;
    color: var(--text-primary);
}

.recipe-card:hover {
    color: var(--text-primary);
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.card {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: var(--bg-quaternary);
    border-radius: 5px;
    position: relative;
}

.card-container {
    height: 100%;
}

.card-img-top {
    height: 60%;
    object-fit: cover;
    background-color: var(--bg-tertiary);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-img-top > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body {
    height: 40%;
    background-color: var(--bg-tertiary);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.title-container {
    width: 100%;
}

.title-container > .card-title {
    flex: 1 0 auto;
    overflow-wrap: break-word;
    max-width: 86%;
}

.title-container > i {
    flex: 0 0 auto;
    font-size: 1.25rem;
    align-self: baseline;
    justify-self: flex-end;
}

.liked-thumbs-up {
    color:var(--alert-primary);
}

.incomplete {
    position: absolute;
    top: 30%;
    padding: 0.25rem;
    font-size: 1.5rem;
    color: var(--alert-primary);
    background-color: var(--alert-secondary);
    transform: rotate(-45deg);
    border: 2px dashed var(--alert-primary);
    margin: 0 auto;
}

/* HTMX styling */

.htmx-indicator {
    display: none;
}

.htmx-request .htmx-indicator {
    display: inline;
    background-color: var(--bg-secondary);
}

.htmx-inverted-indicator {
    display: inline;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
}

.htmx-inverted-indicator:hover {
    color: var(--text-primary);
}

.htmx-request .htmx-inverted-indicator {
    display: none;
}

/* Like / Unlike Button + Pill styling */
.stat-box {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.like-pill {
    color: var(--like-button-text);
    background-color: var(--like-button-bg);
    padding: 0.5rem 1rem 0.5rem 1.25rem;
    border: 1px solid var(--like-button-border);
    border-radius: 0.5rem;
    line-height: 27px;
    text-align: center;
}

.like-btn {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.like-btn:hover {
    color: var(--like-button-text-hover);
    background-color: var(--like-button-bg-hover);
    transition: all 250ms ease-in;
}

.like-btn:active {
    background-color: var(--like-button-bg-active);
    border: 1px solid var(--like-button-border-active);
}

.liked {
    background-color: var(--like-button-bg-active);
    border: 1px solid var(--like-button-border-active);
    color: var(--like-button-text-active);

}

/* to be deleted only in for development purposes */
.temp-div {
    height: 600px;
}
/* end of temporary styling */

@media screen and (min-width: 576px){
    .search-bar {
        width: clamp(5rem, 69%, 35rem);
    }
}