<footer class="p-2">
    <div class="footer-top">
        <!-- insert newsletter signup form -->
    </div>
    <div class="footer-bottom flex">
        <ul class="social-channels flex">
            <li class="social-icons">
                <a href="https://www.facebook.com" target="_blank" aria-label="Go to our Facebook page (opens in new tab)">
                    <i class="fa-brands fa-facebook-square"></i>
                </a>
            </li>
            <li class="social-icons">
                <a href="https://www.instagram.com" target="_blank" aria-label="Go to our Instagram page (opens in new tab)">
                    <i class="fa-brands fa-instagram-square"></i>
                </a>
            </li>
            <li class="social-icons">
                <a href="https://www.twitter.com" target="_blank" aria-label="Go to our Twitter page (opens in new tab)">
                    <i class="fa-brands fa-twitter-square"></i>
                </a>
            </li>
            <li class="social-icons">
                <a href="https://www.youtube.com" target="_blank" aria-label="Go to our YouTube page (opens in new tab)">
                    <i class="fa-brands fa-youtube-square"></i>
                </a>
            </li>   
        </ul>
        <p class="copyright">© 2022 Matthew Bodden</p>
    </div>
</footer>