{% extends 'base.html' %}
{% load cloudinary %}
{% block body %}
<!-- feature section encouraging people to search recipes -->
<section class="account-container mt-2 p-2">
    <h2>Search our <span>Recipes</span></h2>
    {% include 'recipes/snippets/recipe_search.html' %}
</section>

<!-- hero section introducing site -->
<section class="account-container hero-container mt-2">
    <div class="hero-text p-2 flex flex-column flex-md-row">
        <div id="hero-text-container" class="p-4">
            <div class="p-4">
                <div class="p-4">
                    <div class="p-4">
                        <h2 class="mt-3 text-center">Welcome to The Pantry!</h2>
                        <h4 class="my-2 text-center">A place to share and find recipes from fellow foodies around the world.</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="hero-image mb-2"></div> -->
        <div class="hero-image-container flex flex-row justify-content-end align-items-end">
            <img src="https://res.cloudinary.com/mattbcoding/image/upload/v1647795574/hero_uzvvce.png" alt="Cartoon chef smiling in the kitchen">
        </div>
    </div>
</section>

<!-- section to encourage people to register -->
<section class="account-container mt-2 p-2 register-section flex">
    <h2>Member Benefits</h2>
    <p class="">Everyone is welcome at The Pantry, you can search and browse through any and all of our recipes for free. Joining us is a free and simple process, just register for a secure account and you'll be able to take advantage of all our member benefits immediately.</p>
    <div class="register-card-container flex-column-reverse flex-md-row flex p-2">
        <div class="register-card non-member mt-2 py-2">
            <div class="sad-chef-watermark"></div>
            <div class="register-card-content">
                <h5>Non-Member</h5>
                <ul class="mt-2">
                    <li class="active-li"><i class="fa-solid fa-check"></i>
                        <div>Browse our recipe collection</div>
                    </li>
                    <li class="active-li"><i class="fa-solid fa-check"></i>
                        <div>Search our recipe collection</div>
                    </li>
                    <li class="inactive-li"><i class="fa-solid fa-xmark"></i>
                        <div>Add your own recipes to our collection</div>
                    </li>
                    <li class="inactive-li"><i class="fa-solid fa-xmark"></i>
                        <div>Save your favourite recipes for easy access</div>
                    </li>
                    <li class="inactive-li"><i class="fa-solid fa-xmark"></i>
                        <div>Interact with our community of amateur chefs</div>
                    </li>
                    <li class="inactive-li"><i class="fa-solid fa-xmark"></i>
                        <div>Advanced search options</div>
                    </li>
                </ul>
                <div class="secondary-action btn not-btn">No Action Needed</div>
            </div>
        </div>
        <div class="register-card member mt-2 py-2">
            <div class="happy-chef-watermark"></div>
            <!-- <img src="https://res.cloudinary.com/mattbcoding/image/upload/v1647443458/smiling-chef_mufoxg.png" alt=""> -->
            <div class="register-card-content">
                <h5>Member</h5>
                <ul class="mt-2">
                    <li class="active-li"><i class="fa-solid fa-check"></i>
                        <div>Browse our recipe collection</div>
                    </li>
                    <li class="active-li"><i class="fa-solid fa-check"></i>
                        <div>Search our recipe collection</div>
                    </li>
                    <li class="active-li"><i class="fa-solid fa-check"></i>
                        <div>Add your own recipes to our collection</div>
                    </li>
                    <li class="active-li"><i class="fa-solid fa-check"></i>
                        <div>Save your favourite recipes for easy access</div>
                    </li>
                    <li class="active-li"><i class="fa-solid fa-check"></i>
                        <div>Interact with our community of amateur chefs</div>
                    </li>
                    <li class="active-li"><i class="fa-solid fa-check"></i>
                        <div>Advanced search options</div>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                {% if profile.username %}
                <div class="primary-action btn not-btn">Hi {{profile.username}}</div>
                {% else %}
                <div class="primary-action btn not-btn">Hi Anonymous</div>
                {% endif %}
                {% else %}
                <a href="{% url 'account_signup' %}" class="primary-action btn">Register Now</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock body %}