{% extends 'base.html' %}
{% load cloudinary %}
{% block body %}

<!-- hero section introducing site -->
<section class="account-container mt-2 p-2">
    <h2>Hero Section Heading</h2>
</section>

<!-- section to encourage people to register -->
<section class="account-container mt-2 p-2 register-section flex">
    <h2>Register Section Heading</h2>
    <p class="">Everyone is welcome at The Pantry, you can search and browse through any and all of our recipes for free. Joining us is a free and simple process, just register for a secure account and you'll be able to take advantage of all our member benefits immediately.</p>
    <div class="register-card-container flex-column-reverse flex-md-row flex p-2">
        <div class="register-card non-member mt-2 py-2">
            <div class="sad-chef-watermark"></div>
            <div class="register-card-content">
                <h5>Non-Member</h5>
                <ul class="mt-2">
                    <li class="active-li"><i class="fa-solid fa-check"></i>
                        <div>Browse our recipe collection</div>
                    </li>
                    <li class="active-li"><i class="fa-solid fa-check"></i>
                        <div>Search our recipe collection</div>
                    </li>
                    <li class="inactive-li"><i class="fa-solid fa-xmark"></i>
                        <div>Add your own recipes to our collection</div>
                    </li>
                    <li class="inactive-li"><i class="fa-solid fa-xmark"></i>
                        <div>Save your favourite recipes for easy access</div>
                    </li>
                    <li class="inactive-li"><i class="fa-solid fa-xmark"></i>
                        <div>Interact with our community of amateur chefs</div>
                    </li>
                    <li class="inactive-li"><i class="fa-solid fa-xmark"></i>
                        <div>Advanced search options</div>
                    </li>
                </ul>
                <div class="secondary-action btn not-btn">No Action Needed</div>
            </div>
        </div>
        <div class="register-card member mt-2 py-2">
            <div class="happy-chef-watermark"></div>
            <!-- <img src="https://res.cloudinary.com/mattbcoding/image/upload/v1647443458/smiling-chef_mufoxg.png" alt=""> -->
            <div class="register-card-content">
                <h5>Member</h5>
                <ul class="mt-2">
                    <li class="active-li"><i class="fa-solid fa-check"></i>
                        <div>Browse our recipe collection</div>
                    </li>
                    <li class="active-li"><i class="fa-solid fa-check"></i>
                        <div>Search our recipe collection</div>
                    </li>
                    <li class="active-li"><i class="fa-solid fa-check"></i>
                        <div>Add your own recipes to our collection</div>
                    </li>
                    <li class="active-li"><i class="fa-solid fa-check"></i>
                        <div>Save your favourite recipes for easy access</div>
                    </li>
                    <li class="active-li"><i class="fa-solid fa-check"></i>
                        <div>Interact with our community of amateur chefs</div>
                    </li>
                    <li class="active-li"><i class="fa-solid fa-check"></i>
                        <div>Advanced search options</div>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                <div class="primary-action btn not-btn">Hi {{profile.username}}</div>
        
                {% else %}
                <a href="{% url 'account_signup' %}" class="primary-action btn">Register Now</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<!-- feature section encouraging people to search recipes -->
<section class="account-container mt-2 p-2">
    <h2>Search our <span>Recipes</span></h2>
    {% include 'recipes/snippets/recipe_search.html' %}
    <!-- <div class="search-form-container mt-2">
        search recipes form
        <form class="search-form my-1 flex flex-column" id="search-form" action="{% url 'recipes' %}" method="GET">
        
            <div class="flex flex-column flex-sm-row">
                <label class="flex-shrink-0" for="formInput#search">Search By Recipe</label>
                <input class="ps-2 search-bar flex-grow-1 flex-shrink-0" id="formInput#search" type="text" name="search_query"
                    value="{{search_query}}" placeholder="Search Our Recipes" />
            </div>
            <input class="btn primary-action mt-2" type="submit" value="Search" />
        </form>
        <span class="search-chef"></span>
    </div> -->
</section>
<!-- section to highlight some recipes  -->
<section class="account-container mt-2 p-2">
    <h2>Example Recipes Section Heading</h2>
</section>
{% endblock body %}