{% load cloudinary %}
<a class="recipe-card" href="{% url 'view-recipe' recipe.id %}">
    <div class="card">
        <div class="card-container m-1">
            <div class="card-img-top">
            {% cloudinary recipe.featured_image %}
            </div>

            <div class="card-body">
                <div class="title-container flex">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                  <!-- insert if statement to check if user has added this recipe to their favourites -->
                  <!-- icon if they have added -->
                  <!-- <i class="fa-solid fa-heart"></i> -->
                  <!-- no icon if they haven't added -->
                  {% for profile in request.user.profile.all %}
                  {% for favouriterecipe in profile.get_favourited %}
                  {% if favouriterecipe.id == recipe.id %}
                  <i class="fa-solid fa-heart liked-thumbs-up"></i>
                  {% endif %}
                  {% endfor %}
                  {% endfor %}
                </div>
              {% if recipe.owner.username != None %}
              <h6 class="card-subtitle mb-2 text-muted">{{ recipe.owner.username }}</h6>
              {% endif %}
              <div>
                {% if recipe.youtube_link %}
                <i class="fa-brands fa-youtube"></i>
                {% endif %}
                <!-- insert if statement to check if user has liked this recipe -->
                {% for profile in request.user.profile.all %}
                {% for likedrecipe in profile.get_liked %}
                {% if likedrecipe.id == recipe.id %}
                <i class="fa-solid fa-thumbs-up liked-thumbs-up"></i>
                {% endif %}
                {% endfor %}
                {% endfor %}
              </div>
              {% if not recipe.get_ingredients or not recipe.get_steps %}
              <div class="incomplete">Recipe Incomplete</div>
              {% endif %}
        <div>
        </div>
      </div>
    </div>
  </div>
</a>