{% load cloudinary %}
<section class="account-container flex py-2">
    <div class="row recipe-detail">
        <div class="recipe-header col-md-4">
            <div class="profile-image mt-2">
            {% cloudinary recipe.featured_image alt=recipe.title %}
            </div>
            <h2 class="recipe-break">{{recipe.title}}</h2>
            {% if recipe.owner.username %}
            <h5>{{ recipe.owner.username }}</h5>
            {% else %}
            <h5>Anonymous</h5>
            {% endif %}
            {% if recipe.description != None %}
            <p class="recipe-break">{{ recipe.description }}</p>
            {% endif %}
            <div class="my-2 flex stat-box flex-md-column justify-content-center">
                {% include 'recipes/snippets/like_recipe.html' %}
                
                <div id="favourite-container" data-hx-trigger="liked from:body" data-hx-get="{% url 'favourite-recipe' recipe.pk %}">
                    {% if liked %}
                    {% include 'recipes/snippets/favourite_recipe.html' %}
                    {% endif %}
                </div>
            </div>
            {% if request.user == recipe.owner.user %}
            <div class="flex m-2 recipe-button-container justify-content-center">
                <a class="btn primary-action mt-1" href="{% url 'update-recipe' recipe.id %}?next={{ request.path|urlencode }}">Edit Recipe</a>
                <button type="button" class="btn secondary-action mt-1" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete Recipe</button>
                <!-- <a class="btn secondary-action mt-1" href="{% url 'delete-recipe' recipe.id %}?next={{ request.path|urlencode }}">Delete Recipe</a> -->
            </div>
            {% endif %}
        </div>
        <div class="col-md-8 py-2">
            <div>
                <h5>Ingredients</h5>
                <ul class="mt-2">
                    {% for ingredient in recipe.get_ingredients %}
                    <li class="mt-1">
                        {{ ingredient.quantity }} of {{ ingredient.ingredient }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h5>Steps</h5>
                <ul class="mt-2">
                    {% for step in recipe.get_steps %}
                    <li class="mt-1">
                        {{ step.step }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% if recipe.youtube_link %}
            <a href="{{ recipe.youtube_link }}" target="_blank" class="youtube-link btn mb-2" aria-label="Watch a video of this recipe on YouTube (opens in a new tab)"><i class="fa-brands fa-youtube-square"></i></a>
            {% endif %}
        </div>
    </div>
    
</section>
<!-- delete modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="delete-modal-label">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <!-- light/dark mode checkbox toggle -->
        <div class="flex flex-row justify-content-center">
            <p>Are you sure you want to delete {{recipe.title}}</p>
        </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn primary-action" data-bs-dismiss="modal">Close</button>
        <a class="btn secondary-action mt-1" href="{% url 'delete-recipe' recipe.id %}">Delete Recipe</a>

        </div>
    </div>
    </div>
</div>