{% load cloudinary %}
<section class="account-container flex">
    <div class="row recipe-detail">
        <div class="recipe-header col-md-3">
            <div class="profile-image my-2">
            {% cloudinary recipe.featured_image alt=recipe.title %}
            </div>
            <h2>{{ recipe.title }} </h2>
            <h5>{{ recipe.owner.username }}</h5>
            {% if recipe.description != None %}
            <p>{{ recipe.description }}</p>
            {% endif %}
            <div class="mt-2 flex stat-box flex-md-column">
                {% include 'recipes/snippets/like_recipe.html' %}
                
                <div id="favourite-container" hx-trigger="liked from:body" hx-get="{% url 'favourite-recipe' recipe.pk %}">
                    <!-- {% if liked %} -->
                    {% include 'recipes/snippets/favourite_recipe.html' %}
                    <!-- {% endif %} -->
                </div>
            </div>
            {% if request.user == recipe.owner.user %}
            <div class="flex m-2 recipe-button-container">
                <a class="btn primary-action mt-1" href="{% url 'update-recipe' recipe.id %}?next={{ request.path|urlencode }}">Edit Recipe</a>
                <a class="btn secondary-action mt-1" href="{% url 'delete-recipe' recipe.id %}?next={{ request.path|urlencode }}">Delete Recipe</a>
            </div>
            {% endif %}
        </div>
        <div class="col-md-9 mt-1">
            <div>
                <h5>Ingredients</h5>
                <ul class="mt-2">
                    {% for ingredient in recipe.get_ingredients %}
                    <li>
                        {{ ingredient.quantity }} of {{ ingredient.ingredient }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h5>Steps</h5>
                <ul class="mt-2">
                    {% for step in recipe.get_steps %}
                    <li>
                        {{ step.step }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% if recipe.youtube_link %}
            <a href="{{ recipe.youtube_link }}" target="_blank" class="youtube-link btn mb-2"><i class="fa-brands fa-youtube-square"></i></a>
            {% endif %}
        </div>
    </div>
    
</section>