{% load cloudinary %}
{% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                <p class="m-2">{{message}}</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="closeAlert"></button>
            </div>
        {% endfor %}
        {% endif %}
<form class="create-recipe-form" 
      action="" 
      method="POST" 
      enctype="multipart/form-data" 
      hx-post="" 
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      hx-swap="outerHTML"
      hx-encoding="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <div class="flex mt-2 form-pair">
        {{field.label_tag}}
        {{field}}
        <div class="char-remaining" id="{{field.label|lower}}-char-remaining"></div>
    </div>
    {% endfor %}
    
    <div class="htmx-indicator">Loading....</div>
    <button class="btn primary-action mt-2 htmx-inverted-indicator" type="submit" value="submit">Submit</button>
</form>