<form class="add-update-recipe-form" 
      action="." 
      method="POST"
      data-hx-post="{% if url %}{{ url }}{% else %}.{% endif %}" 
      data-hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      data-hx-swap="outerHTML"
      id="add-step-form">
    {% csrf_token %}

    {% for field in stepform %}
  <div class="flex mt-2 form-pair">
    {{field.label_tag}}
    {{field}}
    <div class="char-remaining" id="{{field.label|lower}}-char-remaining"></div>
  </div>
  {% endfor %}
    <div class="htmx-indicator">Loading....</div>
    <button class="btn primary-action mt-2 htmx-inverted-indicator" type="submit" id="add-step-form-submit">Submit</button>
</form>